In [1]:
import pandas as pd

### Series

In [ ]:
## create a series
ser = pd.Series([3,4,5,6,7])

In [ ]:
ser

0    3
1    4
2    5
3    6
4    7
dtype: int64

In [ ]:
ser2 = pd.Series(['Apple','Mango','Grapes','Orange'])
ser2

0     Apple
1     Mango
2    Grapes
3    Orange
dtype: object

In [ ]:
ser2[1:3]

1     Mango
2    Grapes
dtype: object

In [ ]:
ser3 = pd.Series([5,6,7,8,9,1,3,5,18])
ser3

0     5
1     6
2     7
3     8
4     9
5     1
6     3
7     5
8    18
dtype: int64

In [ ]:
ser3[2:7]

2    7
3    8
4    9
5    1
6    3
dtype: int64

In [ ]:
ser4 = pd.Series([5,6,7,8,9,1,3,5],index= ['r1','r2','r3','r4','r5','r6','r7','r8'])
ser4

r1    5
r2    6
r3    7
r4    8
r5    9
r6    1
r7    3
r8    5
dtype: int64

In [ ]:
ser4['r2':'r7']

r2    6
r3    7
r4    8
r5    9
r6    1
r7    3
dtype: int64

In [2]:
df = pd.read_csv('/content/mtcars.csv')
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
df.tail()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [5]:
df.shape # to check the dataset size

(32, 12)

In [ ]:
df.mpg

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

In [ ]:
df['mpg']

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

## DataFrame from scratch

In [6]:
df1 = pd.DataFrame([[1,2,3,4,5,6],[2,3,4,5,6,7],[4,5,8,9,6,5]])
df1

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  2  3  4  5  6  7
2  4  5  8  9  6  5

In [7]:
df1.columns=['c1','c2','c3','c4','c5','c6']
df1.index = ['r1','r2','r3']

In [8]:
df1

    c1  c2  c3  c4  c5  c6
r1   1   2   3   4   5   6
r2   2   3   4   5   6   7
r3   4   5   8   9   6   5

In [37]:
import numpy as np

In [10]:
d = {'name':['A','B','C','D','E'],'Age':[19,22,np.nan,18,19],'Gender':['M','F','M','M','F']}
d

{'name': ['A', 'B', 'C', 'D', 'E'],
 'Age': [19, 22, nan, 18, 19],
 'Gender': ['M', 'F', 'M', 'M', 'F']}

In [11]:
df3= pd.DataFrame(d)

In [12]:
df3

  name   Age Gender
0    A  19.0      M
1    B  22.0      F
2    C   NaN      M
3    D  18.0      M
4    E  19.0      F

In [13]:
df3.Gender

0    M
1    F
2    M
3    M
4    F
Name: Gender, dtype: object

In [38]:
df3['Gender']

0    M
1    F
2    M
3    M
4    F
Name: Gender, dtype: object

In [41]:
df3['Salaryy']=[65000,45000,78000,68000,56000]

In [42]:
df3

  name   Age Gender  Salary  Salaryy
0    A  19.0      M   65000    65000
1    B  22.0      F   45000    45000
2    C  19.0      M   78000    78000
3    D  18.0      M   68000    68000
4    E  19.0      F   56000    56000

In [16]:
df3.isnull().any() # checking is there any null values in our dataset

name      False
Age        True
Gender    False
Salary    False
dtype: bool

In [17]:
df3.shape

(5, 4)

In [18]:
df.shape

(32, 12)

In [19]:
df3

  name   Age Gender  Salary
0    A  19.0      M   65000
1    B  22.0      F   45000
2    C   NaN      M   78000
3    D  18.0      M   68000
4    E  19.0      F   56000

In [20]:
dff = df3.drop(['Salary','name'],axis=1)

In [21]:
df3

  name   Age Gender  Salary
0    A  19.0      M   65000
1    B  22.0      F   45000
2    C   NaN      M   78000
3    D  18.0      M   68000
4    E  19.0      F   56000

In [22]:
df3.isnull().sum()

name      0
Age       1
Gender    0
Salary    0
dtype: int64

In [23]:
dfd = df3.drop(3,axis=0)

In [24]:
dfd

  name   Age Gender  Salary
0    A  19.0      M   65000
1    B  22.0      F   45000
2    C   NaN      M   78000
4    E  19.0      F   56000

In [25]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [27]:
df3

  name   Age Gender  Salary
0    A  19.0      M   65000
1    B  22.0      F   45000
2    C   NaN      M   78000
3    D  18.0      M   68000
4    E  19.0      F   56000

In [28]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   Age     4 non-null      float64
 2   Gender  5 non-null      object
 3   Salary  5 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 288.0+ bytes

In [29]:
df3.describe() # Descriptive statistics

             Age       Salary
count   4.000000      5.00000
mean   19.500000  62400.00000
std     1.732051  12501.99984
min    18.000000  45000.00000
25%    18.750000  56000.00000
50%    19.000000  65000.00000
75%    19.750000  68000.00000
max    22.000000  78000.00000

In [30]:
# mean or median - numerical features
# mode- Categorical features

In [31]:
df3.Age.median()

19.0

In [32]:
df3.Age.mean()

19.5

In [33]:
df3.Age = df3.Age.fillna(df3.Age.median())

In [34]:
df3

  name   Age Gender  Salary
0    A  19.0      M   65000
1    B  22.0      F   45000
2    C  19.0      M   78000
3    D  18.0      M   68000
4    E  19.0      F   56000

In [35]:
df3.Gender.mode()

0    M
Name: Gender, dtype: object

In [36]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

## Slicing operators
## loc- Location
## iloc - index location

In [43]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
# Syntax
"""

loc[:,:]
iloc[:,:]

"""

In [44]:
df.loc[1:3,'model':'hp']

            model   mpg  cyl   disp   hp
1   Mazda RX4 Wag  21.0    6  160.0  110
2      Datsun 710  22.8    4  108.0   93
3  Hornet 4 Drive  21.4    6  258.0  110

In [45]:
df.iloc[1:4,0:5]

            model   mpg  cyl   disp   hp
1   Mazda RX4 Wag  21.0    6  160.0  110
2      Datsun 710  22.8    4  108.0   93
3  Hornet 4 Drive  21.4    6  258.0  110

In [46]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [ ]:
# Encoding - Converting object to int/float

'''
1) One hot encoding
2) Label encoding
3) Manual encoding
'''

In [50]:
df.head(3)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [49]:
# One hot encoding

pd.get_dummies(df['model'])

,AMC Javelin,Cadillac Fleetwood,Camaro Z28,Chrysler Imperial,Datsun 710,Dodge Challenger,Duster 360,Ferrari Dino,Fiat 128,Fiat X1-9,...,Merc 280C,Merc 450SE,Merc 450SL,Merc 450SLC,Pontiac Firebird,Porsche 914-2,Toyota Corolla,Toyota Corona,Valiant,Volvo 142E
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
14,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [53]:
df3

  name   Age Gender  Salary  Salaryy
0    A  19.0      M   65000    65000
1    B  22.0      F   45000    45000
2    C  19.0      M   78000    78000
3    D  18.0      M   68000    68000
4    E  19.0      F   56000    56000

In [56]:
one_hot = pd.get_dummies(df3['Gender'])

In [57]:
one_hot

   F  M
0  0  1
1  1  0
2  0  1
3  0  1
4  1  0

In [58]:
out = [df3,one_hot]
pd.concat(out)

  name   Age Gender   Salary  Salaryy    F    M
0    A  19.0      M  65000.0  65000.0  NaN  NaN
1    B  22.0      F  45000.0  45000.0  NaN  NaN
2    C  19.0      M  78000.0  78000.0  NaN  NaN
3    D  18.0      M  68000.0  68000.0  NaN  NaN
4    E  19.0      F  56000.0  56000.0  NaN  NaN
0  NaN   NaN    NaN      NaN      NaN  0.0  1.0
1  NaN   NaN    NaN      NaN      NaN  1.0  0.0
2  NaN   NaN    NaN      NaN      NaN  0.0  1.0
3  NaN   NaN    NaN      NaN      NaN  0.0  1.0
4  NaN   NaN    NaN      NaN      NaN  1.0  0.0

In [60]:
df4 = df3.join(one_hot)

In [63]:
df5 = pd.get_dummies(df3, columns = ['Gender'], drop_first = True)
df5

  name   Age  Salary  Salaryy  Gender_M
0    A  19.0   65000    65000         1
1    B  22.0   45000    45000         0
2    C  19.0   78000    78000         1
3    D  18.0   68000    68000         1
4    E  19.0   56000    56000         0

In [61]:
df4

  name   Age Gender  Salary  Salaryy  F  M
0    A  19.0      M   65000    65000  0  1
1    B  22.0      F   45000    45000  1  0
2    C  19.0      M   78000    78000  0  1
3    D  18.0      M   68000    68000  0  1
4    E  19.0      F   56000    56000  1  0

In [66]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [68]:
df3['Gender'] = le.fit_transform(df3['Gender'])
df3

  name   Age  Gender  Salary  Salaryy
0    A  19.0       1   65000    65000
1    B  22.0       0   45000    45000
2    C  19.0       1   78000    78000
3    D  18.0       1   68000    68000
4    E  19.0       0   56000    56000

In [64]:
df_enc = pd.get_dummies(df['model'])
df_enc

,AMC Javelin,Cadillac Fleetwood,Camaro Z28,Chrysler Imperial,Datsun 710,Dodge Challenger,Duster 360,Ferrari Dino,Fiat 128,Fiat X1-9,...,Merc 280C,Merc 450SE,Merc 450SL,Merc 450SLC,Pontiac Firebird,Porsche 914-2,Toyota Corolla,Toyota Corona,Valiant,Volvo 142E
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
14,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [65]:
df_new = df.join(df_enc)
df_new

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,...,Merc 280C,Merc 450SE,Merc 450SL,Merc 450SLC,Pontiac Firebird,Porsche 914-2,Toyota Corolla,Toyota Corona,Valiant,Volvo 142E
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,...,0,0,0,0,0,0,0,0,0,0
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,...,0,0,0,0,0,0,0,0,0,0
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,...,0,0,0,0,0,0,0,0,1,0
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,...,0,0,0,0,0,0,0,0,0,0
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,...,0,0,0,0,0,0,0,0,0,0
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,...,0,0,0,0,0,0,0,0,0,0
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,...,1,0,0,0,0,0,0,0,0,0
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,...,0,1,0,0,0,0,0,0,0,0
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,...,0,0,1,0,0,0,0,0,0,0
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,...,0,0,0,1,0,0,0,0,0,0
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,...,0,0,0,0,0,0,0,0,0,0
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,...,0,0,0,0,0,0,0,0,0,0
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,...,0,0,0,0,0,0,1,0,0,0
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,...,0,0,0,0,0,0,0,1,0,0
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,...,0,0,0,0,0,0,0,0,0,0
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,...,0,0,0,0,1,0,0,0,0,0
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,...,0,0,0,0,0,0,0,0,0,0
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,...,0,0,0,0,0,1,0,0,0,0
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,...,0,0,0,0,0,0,0,0,0,0
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,...,0,0,0,0,0,0,0,0,0,0
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,...,0,0,0,0,0,0,0,0,0,0
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,...,0,0,0,0,0,0,0,0,0,0
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,...,0,0,0,0,0,0,0,0,0,1

In [69]:
df['model'] = le.fit_transform(df['model'])
df

    model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0      17  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1      18  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2       4  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3      12  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4      13  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5      30  18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6       6  14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7      20  24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8      19  22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9      21  19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10     22  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11     23  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12     24  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13     25  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14      1  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15     14  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16      3  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17      8  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18     11  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19     28  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20     29  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21      5  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22      0  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23      2  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24     26  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25      9  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26     27  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27     15  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28     10  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29      7  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30     16  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31     31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [71]:
le.inverse_transform([9])

array(['Fiat X1-9'], dtype=object)